@charset "utf-8";
.body{
  margin: 0 auto;
}
/* PCの横幅設定 */
.inner{
  width: 1100px;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

/* header設定 */
.header-inner{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-icon{
  display: block;
  margin: 10px 0;
}
.header-text{
  color: #ffffff;
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
  float: right;
}
.header-text:hover{
  color: #333;
  transition: 0.3s;
}

/* トップの編集 */
.top-inner{
  background-image: url(../img/keyvisual/keyvisual.jpg);
  background-color: rgba(255,255,255,0.7);
  background-blend-mode:lighten;
  padding: 400px 0px 400px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.top-inner:hover{
  background-blend-mode:normal;
}
.top-container{
  margin: 400px 0;
  padding: 0 10px;
  margin: 0 auto;
}
.top-headline{
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
}
.top-container p{
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 30px;
}

/* workの部分があるところ */
.work{
  background-color: #e3f2fd;
}
.work-inner{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.pc-img{
  flex: 4;
}
.pc-img img{
  display: block;
  width: 250px;
}
.work-right-box{
  text-align: center;
  flex: 6;
}
.headline{
  font-size: 40px;
  letter-spacing: 10px;
}
.work-line{
  padding-bottom:35px;
}
.work-text{
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}
/* skilsの編集 */
.skills-inner{
 margin: 0 auto;
 justify-content: center;
 padding-bottom: 70px;
}
.skills-line{
  margin: 50px 50px;
  text-align: center;
}
.skils-container{
  display: flex;
  flex-wrap: wrap;
  margin: -50px;
  justify-content: center;
}
.skils-container img{
  width: 300px;
  height: 300px;
  margin: 50px;
}
.skils-container img:nth-child(3n+1){
  margin-left: 0;
}
.skils-container img:nth-child(3n){
  margin-right: 0;
}
/* plan編集 */
.plan{
  background-color: #d0dfea;
  padding:50px 0px;
}
.plan-inner{
  margin: 0 auto;
  justify-content: center;
}
.plan-line{
  text-align: center;
  padding-bottom: 50px;
}
table{
  width: 100%;
  table-layout: fixed;
}
th{
  background-color: #6ba7ab;
  line-height: 26px;
  font-size: 16px;
}
th, td{
  border-left: solid 1px #fff;
  padding: 10px;
}
td{
  text-align: center;
}
tr{
  background-color: #e0efff;
}
tr:nth-child(even){
  background-color:#f9f9f9;
}
tbody tr:last-child{
  border-top: #ffffff double 1px;
}
.sns{
  background-color: #e3f2fd;
  padding: 200px 0px;
}
.sns-inner{
  margin: 0 auto;
  text-align: center;
}
.fab {
  width: 185px;
  color: #858585;
  overflow: hidden;
  font-size: 40px;
  padding: 25px 0px;
}
.fab:hover{
  transition: 0.5s;
  background-color: #fff;
}
footer{
  background-color: #cfd8dc;
}
.footer-inner{
  padding: 20px 0px 25px 0px;
  margin: 0 auto;
  text-align: right;
}
.copyright{
  font-size: 10px;
  letter-spacing: 0,5px;
}
